<style type="text/css">
.custom-tooltip {
    position: absolute;
    background-color: #faf9d3;
    border: 1px solid #ddd;
    padding: 2px 2px 0px 2px;
    z-index: 1000;
    display: none;
    pointer-events: none;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
}

section {
    margin: 2em;
}
body,
html,
input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: black;
}

#visualization {
    position: relative;
}

/* User controls */
.menu {
    left: 0;
    margin-bottom: 1em;
}

/* End user controls */

.vis-item .vis-item-content {
    margin: 0 !important;
    padding: 1px 0 0 5px !important;
    box-sizing: border-box;
    padding: 0px;
    white-space: nowrap;
    font-size: 9pt;
    font-weight: normal;
    color: black;
    border: none;
    height: 10px !important;
}

.vis-item.vis-readonly .vis-item-content {
    height: 15px !important;
}

.vis-item-overflow {
    overflow: visible !important;
}

.vis-item.Trial {
    background: gainsboro;

}

.vis-item.Event {
    background-color: aliceblue;
    padding-bottom: 5px;
}

.vis-item.FDA {
    background-color: lavenderblush;

}

.vis-item.Funding {
    background-color: honeydew;

}

.vis-timeline {}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
}

